
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    border: 1px solid black;
    width: 567px;
    height: 486px;
    display: flex;
    flex-wrap: wrap;
}


.box, .taken {
    width: 80px;
    height: 80px;
    
}

.box {
    border: lightblue 1px dotted;
}

.player-one {
    background-color: blue;
    border-radius: 50%;
}

.player-two {
    background-color: red;
    border-radius: 50%;
}